body {
    background-color: #ffffff;
    height: 100vh;
    max-height: 100vh;
    /*color: white;*/
    color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Parte do NAV */

nav {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav div {
    padding: 6px;
    margin: 4px;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-img:hover {
    background-color: #f7f2f2;
    border-radius: 50%;
}


.nav-menu:hover {
    border-radius: 25px;
    background-color: #f7f2f2;
    cursor: pointer;
}

/* INPUT */

input {
    all: unset;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
}

.search-bar:hover {
    background-color: #f7f2f2;
    border: 1px solid #f7f2f2;
}

/* LOGO DO GOOGLE */

/*img {
    
} */